body {
    text-align: center;
    font-size: 0;
    margin: 0;
    padding: 0;
}

#gameArea {
    width: 100vw;
    height: 100vh;
    background-image: url('images/bg04.jpg');
    background-size: cover;
}

.card {
    height: 120px;
    width: 80px;
    display: inline-block;
    font-size: 60px;
    font-family: arial, sans-serif;
    color: #FFFFE3;
    line-height: 120px;
}


/* Opponent Section */
#opponent {
    width: 100vw;
    height: 50%;
}

#rival {
    height: 40%;
}

#piles {
    height:60%;
}

.pile {
    height: 84%;
    width: 80px;
    margin: 1%;
    display: inline-block;
    position:relative;
}

.cards {
    position: absolute;
    left: 0;
}

/* Player Section */
#playerArea{
    width: 100%;
    height: 50%;
}

#theCard {
    background-color: teal;
}

#theDeck {
    background-color: deepskyblue;
}

/* Resource Meters */

.resourceMeters {
    height: 120px;
    width: 30px;
    margin: 0 10px;
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

#attackMeter {

}

#defenseMeter {

}

#agilityMeter {

}

#willpowerMeter {

}


/* Resource Types */
.attack {
    background-color: #111111;
}

.defense {
    background-color: #333333;
}

.agility {
    background-color: #666666;
}

.willpower{
    background-color: #999999;
}


