body {
    text-align: center;
    font-size: 0;
    margin: 0;
    padding: 0;
}

#settings {
    width: 100vw;
    height: 8vh;
}

#gameArea {
    width: 100vw;
    height: 92vh;
}

input {
    height: 26px;
    width: 120px;
    margin: 10px 4px;
    padding: 0 10px;
}

button {
    height: 30px;
    width: 140px;
    margin: 10px;
}

.pile {
    height: 100%;
    width: 100px;
    margin: 0 auto;
    display: inline-block;
    position:relative;
}

.card {
    height: 120px;
    width: 80px;
    background-color: aquamarine;
    display: inline-block;
    font-size: 40px;
    font-family: arial, sans-serif;
    position: absolute;

}

div:nth-child(odd) .card  {
    background-color: aqua;
}