body {
    text-align: center;
    font-size: 0;
    margin: 0;
    padding: 0;
}

/*#settings {*/
    /*width: 100vw;*/
    /*height: 8vh;*/
/*}*/

#gameArea {
    width: 100vw;
    height: 100vh;
    background-image: url('images/bg04.jpg');
    background-size: cover;
}

input {
    height: 26px;
    width: 120px;
    margin: 10px 4px;
    padding: 0 10px;
}

button {
    height: 30px;
    width: 140px;
    margin: 10px;
}

.pile {
    height: 88%;
    width: 100px;
    margin: 5% auto;
    display: inline-block;
    position:relative;
}

.card {
    height: 120px;
    width: 80px;
    display: inline-block;
    font-size: 60px;
    font-family: arial, sans-serif;
    position: absolute;
    /*border: 1px solid lightgrey;*/
    color: #FFFFE3;
    line-height: 120px;

}

.attack {
    background-color: #111111;
}

.defense {
    background-color: #333333;
}

.agility {
    background-color: #666666;
}

.willpower{
    background-color: #999999;
}

